@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: grid;
  place-items: center;
}
.btn {
  border: none;
  cursor: pointer;
}

.btn-active {
  border: 2px solid red;
  border-radius: 200px;
}

.input_section {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.input_section div {
  margin: 10px;
  display: grid;
}

.parte_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
}

.parte_2 img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.parte_2 div {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 5px;
}
